<html>
    <head>
        <title>Register</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <nav class="navbar navbar-dark bg-dark">
        <a id="navbarHeader" class="navbar-brand" href="#"><img src="{{ url_for('static', filename='book.gif') }}" width="30" height="30" class="d-inline-block align-top" alt=""> Carti BookLog </a>
        <a class="btn btn-primary" href="{{ url_for('login') }}"> Sign in </a>
    </nav>

    <body>
        <div class="container">

            <div id="cells">
            {% if message is not none %}
            <div class="alert alert-primary text-center" role="alert">
                 { Welcome to Carti BookLog } 
            </div>
            {% endif %}
            <div class="card text-center">
                <div class="card-header">Register</div>
                <div class="card-body">
                    <form action="{{ url_for('register') }}" method="post">
                        <input class="form-control" name="username" type="text" placeholder="username" required maxlength="25">
                        <br>
                        <input class="form-control" name="password" type="password" placeholder="password" required maxlength="25"> 
                        <br>
                        <input class="form-control" name="first_name" type="text" placeholder="first_name" required maxlength="25"> 
                        <br>
                        <input class="form-control" name="last_name" type="text" placeholder="last_name" required maxlength="25"> 
                        <br>
                        <input class="form-control" name="email" type="text" placeholder="email" required maxlength="25"> 
                        <br>
                        <button class="btn btn-primary" type="submit" style="width:100%;">Enter</button>
                    </form>
                    
                </div>
            </div>
            </div>
        </div>
    </body>
</html>